/**
 * Copyright 2012 - Román Ginés Martínez Ferrández (rgmf@riseup.net).
 * License GPLv3 (http://www.gnu.org/licenses/gpl-3.0.html)
 */
body
{
	margin: 0;
	padding: 0;
	color: #333;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #ffffff;
}

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

h1, h2 { margin: 10px 0; }

h1
{
	font-size: 300%;
	text-shadow: 1px 1px 0px #ccc;
	filter: dropshadow(color=#cccccc, offx=1, offy=1);
}

h2
{
	font-size: 250%;
}

a
{
	font-family:serif;
	font-weight: bold;
	color: #000099;
	text-decoration: none;
}

a:visited
{
	color: #000099;
}

a:hover
{
	text-decoration: underline;
}

#page
{
	margin-top: 0px;
	margin-bottom: 0px;
	background: white;
	/*border: 1px solid #C9E0ED;*/
}

.header-container
{
	width: 100%;
}

#header
{
	margin: 0;
	padding: 0;
	color: #ffffff;
	background: #cdcdcd;/* url(bg.gif) repeat-x left top;*/
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	height: 100px;
	text-align: center;
	background: #cdcdcd;
}

#logo
{
	padding: 5px 10px;
	font-size: 300%;
	font-weight: bold;
}

#menu
{
	background-color: #999999;
}

#mainmenu
{
	padding: 5px 10px;
	text-align: left;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: block;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:16px;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #ffffff;
	text-decoration: underline;
}

#menuheader
{
	color: #efefef;
	font-size: 150%;
	font-family: Helvetica, sans-serif;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #999999;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	/*background: #B7D6E7;*/
	border-left: 20px solid #999999;
}

.portlet-title
{
	font-size: 150%;
	font-weight: bold;
	text-shadow: 1px 1px 0px #ccc;
	filter: dropshadow(color=#cccccc, offx=1, offy=1);
	padding: 0;
	margin: 0;
}

.portlet-content
{
	font-size: 16px;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	/*background:#EFFDFF;*/
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font-size: 16px;
	color: #999999;
	display: block;
	padding: 2px 0 2px 8px;
	/*line-height: 25px;*/
	text-decoration: none;
}

.operations li a:visited
{
	color: #999999;
}

.operations li a:hover
{
	text-decoration: underline;
}

div.grid-container
{
	float: left;
}

div.grid
{
	float: left;
	margin: 4px;
	width: 200px;
	height: 250px;
	border: 1px solid #999999;
	text-align: center;
}

div.grid img
{
	width: 180px;
	height: 180px;
	padding: 10px;
}

div.grid-2
{
	float: left;
	margin: 4px;
	width: 423px;
	height: 323px;
}

div.normal-size img
{
	width: 200px;
	height: 250px;
}

div.right-separator
{
    border-right: solid 2px #999999;
    padding: 10px;
}